div.image-box {
    overflow: hidden;
    max-width: 100%;
    padding-bottom: 0px;
}

div.image-box {
    overflow: hidden;
    max-width: 100%;
    padding-bottom: 20px;
}

div.chart-box {
    padding-bottom: 20px;
}

div.plot-box {
    padding-bottom: 20px;
}

div.table-box {
    overflow-x: scroll;
}

img{
    border: 0px solid black;
}

div.image-display {
    display: block;
    /* max-width: 100%; */
    height: auto;
    line-height: 0;
    margin-top: 0;
    text-align: center;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    background: #222;
}

img.inset {
    border: 0px solid #000;
    background-color: #222;
    margin: 0px;
    padding: 0px;
}

.pixelated {
    image-rendering:optimizeSpeed;             /* Legal fallback */
    image-rendering:-moz-crisp-edges;          /* Firefox        */
    image-rendering:-o-crisp-edges;            /* Opera          */
    image-rendering:-webkit-optimize-contrast; /* Safari         */
    image-rendering:optimize-contrast;         /* CSS3 Proposed  */
    image-rendering:pixelated;                 /* CSS4 Proposed  */
    -ms-interpolation-mode:nearest-neighbor;   /* IE8+           */
}

table.insets {
    border: 0px solid #000;
    border-spacing: 0;
    margin: 0px;
    padding: 0px;
    background-color: #222;
}

td.insets {
    color: #AAA;
    font-weight: normal;
    border: 0px solid #000;
    margin: 0px;
    padding: 0px;
    text-align: center;
    vertical-align: bottom;
}

tr.insets {
    border: 0px solid #000;
    margin: 0px;
    padding: 0px;
}

.selector {
    padding: 8px 15px;
    font-weight: normal;
    line-height: 1.4;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}
/*.selector-primary {
    color: #fff;
    background-color: #BDC3C7;
}
.selector-primary.active {
    color: #fff;
    background-color: #7F8C8D;
}
.selector-group>.selector {
    position: relative;
}*/
.selector-primary {
    color: #AAA;
}
.selector-primary.active {
    color: #FFF;
    background-color: hsl(204, 86%, 53%);
}

.selector-group {
    padding: 0px;
    background-color: #222;
    text-align: left;
}

.selector-group>.selector {
    position: relative;
}

/*.selector-group>.selector:first-child {
    margin-left: 0;
}
.selector-group>.selector:first-child:not(:last-child) {
    border-top-right-radius: 0;
}
.selector-group>.selector:last-child:not(:first-child) {
    border-top-left-radius: 0;
}
.selector-group>.selector:not(:first-child):not(:last-child):not(.dropdown-toggle) {
    border-radius: 0;
}
*/

.jeri {
    max-width: 1152px;
    padding-bottom: 62.25%;
    position: relative;
}

table.stats {
    border-collapse: separate;
    font-weight: normal;
    margin-left: auto;
    margin-right: auto;
    min-width: 1152px;
    padding-bottom: 0px;
}

td.stats {
    background-color: white;
}

td.best-stat {
    font-weight: 600;
    color: hsl(204, 86%, 53%);
}

caption.stats {
    text-align: left;
    font-weight: normal;
    margin-bottom: 10px;
    font-weight: 600;
}

thead.stats {
    background-color: #f5f5f5;
    color: #000;
    text-align: center;
}

th.stats {
    font-weight: normal;
    padding: 0.5em 1em;
    border-top: 1px solid #CCC;
}

th.stats:first-child { border-left: 1px solid #CCC; border-top-left-radius: 5px; width: 150px; }
th.stats:last-child { border-right: 1px solid #CCC; border-top-right-radius: 5px; }
td.stats:last-child { border-right: 1px solid #CCC; }
tr.stats:last-child>td { border-bottom: 1px solid #CCC; }
tr.stats:last-child>td:first-child { border-bottom-left-radius: 5px; }
tr.stats:last-child>td:last-child  { border-bottom-right-radius: 5px; }

td.stats {
    text-align: right;
    padding: 0.5em 1em;
    border-left: 1px solid #CCC;
    border-width: 0 0 0 1px;
}

canvas.chart-canvas {
    border: 1px solid #CCC;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    background-color: #FFF;
}

#metric-plot {
    border-collapse: separate;
    border-spacing: 0;
    font-weight: normal;
    margin-left: auto;
    margin-right: auto;
    min-width: 1152px;
    padding-bottom: 20px;
    border-radius: 5px;
}

.main-svg {
    border: 1px solid #CCC;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


